:root {
    --gray: #3f3f3f;
    --light-blue: #81c1fd;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* header ----------------------------------------------- */

  
.main-header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--gray);
}

.main-header h1 {
    width: fit-content;
    padding: 3px;
    background-color: var(--light-blue);
    color: var(--gray);
    display: inline-block;
    font-size: 40px;
}

.main-header nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main-header a {
    text-decoration: none;
    color: var(--light-blue);
    margin-left: 20px;
    padding-bottom: 2px;
    border-bottom: 3px solid var(--light-blue);
}


/* body ----------------------------------------------- */
body{
    line-height: 1.5;
}
main {
    width: 96%;
    margin: 2rem auto;
  }
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;

}

/* background image -------------------------------------- */
.background-img {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/backgroundImg.jpg);
    background-size: cover;
    background-position: center;
}

.subtitle {
    padding: 10px;
    margin-top: -25px;
    margin-bottom: 25px;
    background-color: var(--light-blue);
    color: var(--gray);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* about me ------------------------------------- */
.about-me h1 {
    color: var(--gray);
    padding: 15px;
    margin: 20px;
    font-size: 30px;
}

.about-me p {
    width: 80%;
    height: 100%;
    padding: 10px;
    border-left: 5px solid var(--gray);
}

/* work ------------------------------------- */
.project-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
    justify-content: center;
  }
  
.box-outline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 4px solid var(--light-blue);
    transition: all 0.5s ease-in-out;

  }

.project-img {
    height: 400px;
    width: 70%;
    margin-bottom: 25px;
    background-image: url(../images/unit01finalscreenshot.png);
    background-size: cover;
}

.box-text {
    color: var(--gray);
    background-color: var(--light-blue);
    padding: 4px;
    outline: 2px solid var(--gray);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 200px;
    align-items: center;
}

.more {
    text-decoration: none;
    color: var(--gray);
    border-bottom: 3px solid var(--gray);
}

/* contact-me ------------------------------------- */
.contact-me h1{
    color: var(--gray);

    font-size: 30px;
}

.contact-me nav a{
    color: var(--gray);
    margin-right: 10px;
}